<!DOCTYPE html>
<html>
<head>
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="/static/plugins/layui/css/layui.css">
	<script type="text/javascript" src="/static/plugins/layui/layui.js"></script>
	<style type="text/css">
		.header{width:100%;height:60px;line-height: 50px;background: #009688;color: white;}
		.title{margin-left: 30px;font-size: 30px;}
		.userinfo{float: right; margin-right: 40px;}
		.userinfo a{color:#fff;}
		.layui-colla-title{background:#393D49;border-color:none;color:white; }
		.layui-colla-content{background: #393D49;padding: 0;}
		.menu{background: #393D49;color: white;position: absolute;}
		.main{position: absolute;left: 200px;right: 0px;}
		.layui-nav-child{background: #393D49; }
	</style>
</head>
<body>
	<!--header 部分-->
	<div class="header ">
		<span class="title">后台管理系统</span>
		<span class="userinfo" style="font-weight: 30px;">{$admin.username}【{$role.title}】<span><a href="javascript:;">退出</a></span></span>

	</div>

	<div class="menu layui-side-menu" id="menu">
        <div class="layui-side-scroll"> 
        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">

        	<!---主页-->
            <li data-name="get" class="layui-nav-item">
              <a href="/admins.php/admins/Home/index" lay-tips="主页" >
                <i class="layui-icon layui-icon-home"></i>
                <cite>主页</cite>
              <span class="layui-nav-more"></span></a>
              <dl class="layui-nav-child">
                  
              </dl>
            </li>
            <!---组件-->
            <li data-name="component" class="layui-nav-item">
              <a href="javascript:;" lay-tips="组件" lay-direction="2">
                <i class="layui-icon layui-icon-component"></i>
                <cite>组件</cite>
              <span class="layui-nav-more"></span></a>
              <dl class="layui-nav-child">
                <dd data-name="layer"> 
                  <a href="javascript:;">通用弹层<span class="layui-nav-more"></span></a>  
                  <dl class="layui-nav-child">  
                    <dd data-name="list"> 
                      <a lay-href="component/layer/list.html" lay-text="layer 功能演示">功能演示</a> 
                    </dd>
                  </dl>  
                </dd>
                 <dd data-name="table-static"> 
                  <a lay-href="component/table/static.html">静态表格</a>
                </dd>
              </dl>
            </li>
            <!---页面-->
            <li data-name="template" class="layui-nav-item">
              <a href="javascript:;" lay-tips="页面" lay-direction="2">
                <i class="layui-icon layui-icon-template"></i>
                <cite>页面</cite>
              <span class="layui-nav-more"></span></a>
              <dl class="layui-nav-child">
                <dd><a lay-href="template/personalpage.html">个人主页</a></dd>
                <dd><a lay-href="template/addresslist.html">通讯录</a></dd>
              </dl>
            </li>
            <!---应用-->
            <li data-name="app" class="layui-nav-item">
              <a href="javascript:;" lay-tips="应用" lay-direction="2">
                <i class="layui-icon layui-icon-app"></i>
                <cite>应用</cite>
              <span class="layui-nav-more"></span></a>
              <dl class="layui-nav-child">
                <dd>
                  <a lay-href="app/message/index.html">消息中心</a>
                </dd>
                <dd data-name="workorder">
                  <a lay-href="app/workorder/list.html">工单系统</a>
                </dd>
              </dl>
            </li>
            <!---高级-->
            <li data-name="senior" class="layui-nav-item">
              <a href="javascript:;" lay-tips="高级" lay-direction="2">
                <i class="layui-icon layui-icon-senior"></i>
                <cite>权限</cite>
              <span class="layui-nav-more"></span></a>
              <dl class="layui-nav-child">
                <dd>
                  <a layadmin-event="im" onclick="menuFire(this)"src="/admins.php/admins/Menu/index">权限菜单</a>  
                </dd>
                <dd>
                  <a layadmin-event="im" onclick="menuFire(this)"src="/admins.php/admins/Roles/index">角色管理</a>  
                </dd>

               </dl>
            </li>
            <!---用户-->
            <li data-name="user" class="layui-nav-item layui-nav-itemed">
              <a href="javascript:;" lay-tips="用户" lay-direction="2">
                <i class="layui-icon layui-icon-user"></i>
                <cite>用户</cite>
              <span class="layui-nav-more"></span></a>
              <dl class="layui-nav-child">
                <dd>
                  <a ay-href="javascript:;" onclick="menuFire(this)"src="/admins.php/admins/User/index">网站用户</a>
                </dd>
                <dd>
                  <a lay-href="javascript:;" onclick="menuFire(this)" src="/admins.php/admins/Admin/index">后台管理员</a>
                </dd>
              </dl>
            </li>
            <!---设置-->
            <li data-name="set" class="layui-nav-item">
              <a href="javascript:;" lay-tips="设置" lay-direction="2">
                <i class="layui-icon layui-icon-set"></i>
                <cite>设置</cite>
              <span class="layui-nav-more"></span></a>
              <dl class="layui-nav-child">
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">系统设置<span class="layui-nav-more"></span></a>
                  <dl class="layui-nav-child">
                    <dd><a lay-href="set/system/website.html">网站设置</a></dd>
                  </dl>
                </dd>
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">我的设置<span class="layui-nav-more"></span></a>
                  <dl class="layui-nav-child">
                    <dd><a lay-href="set/user/info.html">基本资料</a></dd>
                    <dd><a lay-href="set/user/password.html">修改密码</a></dd>
                  </dl>
                </dd>
              </dl>
            </li>
            <!---授权-->
            <li data-name="get" class="layui-nav-item">
              <a href="javascript:;" lay-tips="授权" lay-direction="2">
                <i class="layui-icon layui-icon-auz"></i>
                <cite>授权</cite>
              </a>
            </li>
          <span class="layui-nav-bar" style="top: 28px; height: 0px; opacity: 0;"></span></ul>
        </div>
      </div>

	<!--主界面部分-->
	<div class="main">
		<iframe src="/admins.php/admins/Home/welcome" onload="resetMainHeight(this)"style="width: 100%;height: 100%;"frameborder="0" scrolling="0">
			
		</iframe>
	</div>
	<script>
	//折叠面板 依赖 element 模块，否则无法进行功能性操作
		layui.use('element', function(){
		  var element = layui.element;
		  $ =layui.jquery;

		  resetMenuHeight()
		});
		//重新设置menu高度 
		  function resetMenuHeight(){
		  	var height =document.documentElement.clientHeight - 60;
		  	$('#menu').height(height);
		  }
		  //重置主界面高度的方法
		  function resetMainHeight(obj){
		  	var height =parent.document.documentElement.clientHeight-63;
		  	$(obj).parent('div').height(height);
		  }

		  //菜单点击事件
		  function menuFire(obj){
		  	//获取url
		  	var src =$(obj).attr('src');
		  	//设置iframe的src
		  	$('iframe').attr('src',src);
		  }
	</script>
</body>
</html>