<!DOCTYPE html>
<html>
<head>
	<title>上传视频</title>
	<link rel="stylesheet" type="text/css" href="/static/plugins/layui/css/layui.css">
	<script type="text/javascript" src="/static/plugins/layui/layui.js"></script>

</head>
<body style="padding: 10px;">
	<form class="layui-form">
		<input type="hidden" name="id" value="{$data.item.id}">
		<div class="layui-form-item">
			<label class="layui-form-label">视频名称</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" name="title" value="{$data.item.title}">
			</div>
		</div>

			<div class="layui-form-item">
				<label class="layui-form-label">视频类型</label>
				<div class="layui-input-inline">
					<select name="channel_id">
						<option value="0">请选择</option>
						{volist name="data.channel" id="vo_channel"}
						<option value="{$vo_channel.id}" <?php if($data['item']['channel_id']==$vo_channel['id']){echo 'selected';}?>>{$vo_channel.title}</option>
						{/volist}
					</select>
				</div>

				<label class="layui-form-label">VIP视频</label>
				<div class="layui-input-inline">
					<select name="charge_id">
						<option value="0">请选择</option>
						{volist name="data.charge" id="vo_charge"}
						<option value="{$vo_charge.id}" <?php if($data['item']['charge_id']==$vo_charge['id']){echo 'selected';}?>>{$vo_charge.title}</option>
						{/volist}
					</select>
				</div>

			</div>
				
			<div class="layui-form-item">
				<label class="layui-form-label">视频来源</label>
				<div class="layui-input-inline">
					<select name="area_id">
						<option value="0">请选择</option>
						{volist name="data.areas" id="vo_area"}
						<option value="{$vo_area.id}" <?php if($data['item']['area_id']==$vo_area['id']){echo 'selected';}?>>{$vo_area.title}</option>
						{/volist}
					</select>
				</div>
				<label class="layui-form-label">&nbsp;</label>
				<div class="layui-input-inline">
					<button class="layui-btn"  onclick="return false;" id="upload_img"><i class="layui-icon">&#xe67c;</i>上传视频封面</button>
					<img src="" id="pre_img" style="height: 33px;" />
					<input type="hidden" name="img"  value="{$data.item.img}">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">来源网址</label>
				<div class="layui-input-block">
					<input type="text" name="url" class="layui-input" value="{$data.item.url}">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">关键字</label>
				<div class="layui-input-block">
					<input type="text" name="keywords" class="layui-input" value="{$data.item.keywords}">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">视频描述</label>
				<div class="layui-input-block">
					<input type="text" name="desc" class="layui-input" value="{$data.item.desc}">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">是否发布</label>
				<div class="layui-input-inline">
					<input type="checkbox" lay-skin="primary" name="status" title="发布"  <?php if($data['item']['status']){echo 'checked';}?>>

				</div>
			</div>
			<input type="hidden" name="pre_file">
			<input type="file" name="file" id="upload_ppt" style="margin:6px 100px;">
	</form>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" onclick="save()">保存</button>
		</div>
	</div>
	<script type="text/javascript">
		layui.use(['form','layer','upload'],function(){
			$ =layui.jquery;
			var form =layui.form;
			layer =layui.layer;
			var upload = layui.upload;
			//上传
			var uploadInst = upload.render({
			    elem: '#upload_img' //绑定元素
			    ,url: '/admins.php/admins/video/upload_img' //上传接口
			    ,accept:'images'
			    ,done: function(res){
			      //上传完毕回调
			      $('#pre_img').attr('src',res.msg);
			      $('input[name="img"]').val(res.msg);
			    }
			    ,error: function(){
			      //请求异常回调
			    }
		  });
			var uploadInst = upload.render({
			    elem: '#upload_ppt' //绑定元素
			    ,url: '/admins.php/admins/Video/upload_ppt' //上传接口
			    ,accept:'file'
			    ,auto:true
    			,bindAction: '#upload_ppt'
			    ,done: function(res){
			    	console.log(res.msg);
			      //上传完毕回调
			      //把值赋值给前台，提交
			      // $("#pre_file").attr("href",res.mg);
			      layer.msg('上传成功');
			      $('input[name="pre_file"]').val(res.msg);
			    }
			    
		  });

		});
		// 保存
		function save(){
			var title = $.trim($('input[name="title"]').val());
			var url = $.trim($('input[name="url"]').val());
			if(title == ''){
				layer.msg('请输入视频名称',{'icon':2,'anim':6});
				return;
			}
			if(url == ''){
				layer.msg('请输入视频地址',{'icon':2,'anim':6});
				return;
			}
			$.post('/admins.php/admins/Video/save',$('form').serialize(),function(res){
				if(res.code>0){
					layer.msg(res.msg,{'icon':2,'anim':2});
				}else{
					layer.msg(res.msg,{'icon':1});
					setTimeout(function(){parent.window.location.reload();},1000);
				}
			},'json');
	}
		
	</script>
</body>
</html>