<!DOCTYPE html>
<html>
<head>
	<title>角色管理</title>
	<link rel="stylesheet" type="text/css" href="/static/plugins/layui/css/layui.css">
	<script type="text/javascript" src="/static/plugins/layui/layui.js"></script>
	<style type="text/css">
		.header span{background: #009688;margin-left: 40px;padding: 10px;color: #fff;}
		.header div{border-bottom: solid 1px #009688;margin-top: 9px;margin-left: 15px;}
		.header table .tr{text-align: center;}
		.header button{float: right;margin-top: -2px;margin-right: 10px;}
	</style>

</head>
<body style="padding: 40px;">
	<div class="header" >
			<span>角色列表</span>
			<button class="layui-btn layui-btn-sm" onclick="add()">添加</button>
			<div></div>
		</div>
	</div>

	<table class="layui-table">
		<thead>
			<tr>
				<th>ID</th>
				<th>角色名称</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{volist name="data.roles" id="vo"}
			<tr>
				<td>{$vo.gid}</td>
				<td>{$vo.title}</td>
				<td>
					<button class="layui-btn layui-btn-sm" onclick="add({$vo.gid})">编辑</button>
					<button class="layui-btn layui-btn-sm layui-btn-danger" onclick="del({$vo.gid})">删除</button>
				</td>
			</tr>
			{/volist}

		</tbody>
	</table>
	<script type="text/javascript">
		layui.use(['layer','form'],function(){
			$ =layui.jquery;
			layer = layui.layer;
			form = layui.form;

		});

		//添加功能
		 function add(gid){
		 	layer.open({
			  type: 2,
			  title: gid>0?'编辑角色':'添加角色', 
			  shade:0.3,
			  area:['480px','90%'],
			  content: '/admins.php/admins/Roles/add?gid='+gid,
			  cancel: function(){
			    layer.msg('取消成功', {time: 1000, icon:6});
			  }
			});
		 }

		 // 删除角色
		function del(gid){
		layer.confirm('确定要删除吗？', {
			  icon:3,
			  btn: ['确定','取消']
			}, function(){
			  $.post('/admins.php/admins/roles/deletes',{'gid':gid},function(res){
			  	if(res.code>0){
			  		layer.alert(res.msg,{icon:2});
			  	}else{
			  		layer.msg(res.msg);
			  		setTimeout(function(){window.location.reload();},1000);
			  	}
			  },'json');
			});
	}

	</script>
</body>
</html>